<div class="container-fluid">
  <%= render 'layouts/banner' %>
</div>
<div class="container">
<%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
  <div class="row">
  <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="main-photo">
          <%= link_to (image_tag(event.image, size: '400x200', class:'nametag-photo')), event_path(event) %>
          <div class="group-title">
            <h3><%= link_to event.title, event_path(event) %></h3>
            <p><%= link_to event.start_on, event_path(event) %></p>
            <p><%= link_to truncate(event.location, length: 50), event_path(event) %></p>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
